<div class="msg" style="align-items: <%= (data.user === currentUser) ? 'flex-end' : 'flex-start' %>">
    <div>
        <h3><b><%= data.user %></b></h3>
        <h3><%= data.added %></h3>
    </div>
    <div style="background-color: <%= (data.user === currentUser) ? '#00a6f4' : '#444d5d' %>">
        <h3><%= data.text %></h3>
    </div>
</div>