<div class="msg" style="align-items: <%= (data.user_id === id) ? 'flex-end' : 'flex-start' %>">
    <div>
        <h3><b><%= data.username %></b></h3>
        <h3><%= data.addedPt1 %>, <%= data.addedPt2 %></h3>
    </div>
    <div style="background-color: <%= (data.user_id === id) ? '#00a6f4' : '#444d5d' %>">
        <h3><%= data.text %></h3>
    </div>
</div>