<div class="modal" id="modal">
    <div class="modal-content">
        <form method="POST" action="/newUser" >
            <h2>Pick your username</h2>
            <div class="username-form-wrapper">
                <h4 style="color: <%= (errors && errors.length > 0) ? '#b60915' : '#fff' %>">Username</h4>
                <% if (username) { %>
                    <div class="mimic-username-input">
                        <h4><%= username %></h4>
                    </div>
                <% } else { %>
                    <input 
                        type="text" 
                        name="username" 
                        placeholder="BobBilly745" 
                        required 
                        value="<%= username ? username : '' %>"
                        autocomplete="off"
                        style="border-color: <%= (errors && errors.length > 0) ? '#b60915' : '#fff' %>"
                    />
                <% } %>
                <h5>This is your public display name.</h5>
                <% if (errors && errors.length !== 0) { %>
                    <% errors.forEach(err => { %>
                        <h4 style="color: #b60915"><%= err.msg %></h4>
                    <% }) %>
                <% } %>
            </div>
            <button type="submit" class="enter-username-btn">Enter</button>
        </form>
    </div>
</div>